%header
  %hgroup
    %h1 Damper.
    %h2 CodebaseHQ meets Campfire. With better messages.

%section
  %img{:src => '/images/bread.png', :class => 'bread'}
  %p
    If you're here, you're probably here by accident. This is a little Sinatra web app to take post-receive hooks from Codebase, and create nice Campfire messages with ranges and tigers and bears, oh my.
  %p
    To get your own instance, go to
    %a{:href => 'https://github.com/Ennova/damper/'} Damper on GitHub
    and fork the repo.
%footer
  %span Built by
  %a{:href => 'http://ennova.com.au/'}
    %img{:src => 'http://cdn.ennova.com.au/images/ennova.png', :alt => 'Ennova'}
