!!! 5
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Damper - CodebaseHQ meets Campfire.
    %link{:href => '/favicon.ico', :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon'}
    %link{:href => '/stylesheet.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    = yield
